# Configuracao para o deploy
RewriteEngine On
RewriteCond %{HTTP_HOST} ^teste.emesys.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.teste.emesys.com.br$
# RewriteBase /nome-da-pasta-como-se-fosse-um-subdominio-se-for-o-caso/
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

<IfModule mod_negotiation.c>
   Options -MultiViews -Indexes
</IfModule>